body {
    background-color: gray;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Teko', sans-serif;
    font-size: 16pt;
    color: gold;
}

section {
    border: solid black 1px;
}

#buttons{
background-color: black;
}
.button {
    background-color: white;
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}
 .text-right {
    text-align: right;
}

 .text-left {
    text-align: left;
}
 .text-center {
    text-align: center;
}

     